archive/more_files

data/conflict_coordinates
data/detector_tests
data/classification_tests
data/manual_labelling
data/field_tests
data/photos

scrips/__pycache__

models/

camera_traps

.vscode

config.yaml
