# Folders
/archive/more_files/
/build/
/dist/
/data/dev_data
/data/photos/*

/models/*

__pycache__

# Files
.vscode
config.yaml


# Virtual environment folders
.venv
/camera_traps/


launch_gui.spec
